body{
    background-image: url(8.3\ pic.jpg);
    background-size: cover;
    height: 950px;
}
*{
    box-sizing: border-box;
    font-size: 19px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.menuBox{
    display: grid;
    grid-auto-flow: column;
    line-height: 1;
    padding-left: 15px;
    width: 215px;
    margin: auto;
    position: relative;
    top: 25%;
    border: 1px solid #8E610E;
    border-radius: 5px;
}
.menuItem{
    position: relative;
}
.menuLabel{
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 15px;
    position: relative;
    z-index: 1;
}
.menuLabel:hover{
    background: goldenrod;
    border: 1px solid hsla(0, 0%, 50.2%, .2);
    border-bottom: 1px solid goldenrod;
    border-radius: 5px 5px 0 0;
    
}
.menuSub{
    background: goldenrod;
    border: 0px 1px 1px 1px solid hsla(0, 0%, 50.2%, .2);
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .2);
    left: 0;
    padding: 1px 0;
    position: absolute;
    top: 5px;
    transition: top .8s ease;
    visibility: hidden;
    list-style-type: none;
}
.menuItem:hover>.menuSub{
    top: 16px;
    visibility: visible;
}
.menuItem:hover>.menuLabel{
    border: 1px 1px 0 1px solid hsla(0, 0%, 50.2%, .2);
    /*border-bottom: 1px solid;*/
    border-radius: 5px 5px 0 0;
}
.menuSubItem{
    cursor: pointer;
    padding: 7px 15px;
    white-space: nowrap;
}
.menuSubItem:first-of-type{
    border-radius: 0 5px 0 0;
}
.menuSubItem:last-of-type{
    border-radius: 0 0 5px 5px;
}
li:hover{
    background-color: #FFC966;
}