body{
    background-color: black;
}
#container{
    width: 430px;
    padding: 30px;
    position: absolute;
    display: inline-block;
    left: 700px;
    top: 300px;
}
#text {
    background: linear-gradient(to top, #c3c1c0, #e0e0de 50%, white 100%);
    padding: 70px 30px 20px 20px;
    border-radius: 0 0 10px 10px;
    border: 1px solid white;
    border-top: hidden;
}

#head {
    background: black;
    width: 100px;
    transform: skew(-30deg);
    color: #FC9109;
    font-size: 30px;
    font-weight: bolder;
    float: left;
    position: relative;
    left: -16px;
    padding: 10px 10px 10px 30px;
}
#title {
    transform: skew(30deg);
}