@using UserAwardsApp.Entities;
@using UserAwardsApp.BLL.Abstract;
@using UserAwardsApp.DI.Provaiders;
@using System.Threading;
@using UserAwardsApp.PL.UIWebPages.HelpersBLL;

@{
    Layout = null;

     bool flag = false;
     string ErrorMessege = null;

    if (IsPost)
    {
       

        var userName = Request["UserName"];
        var userDoB = Request["DateOB"];

        bool BDateChecked = DateTime.TryParse(userDoB, out DateTime dateOfBith);

        if (!string.IsNullOrWhiteSpace(userName) && !string.IsNullOrWhiteSpace(userDoB) && BDateChecked && dateOfBith < DateTime.Now)
        {

            WebImage photo = WebImage.GetImageFromRequest();

            if (photo != null)
            {
                var createdUser = Provaiders.userLogic.CreateUserWithImg(userName, dateOfBith, photo.GetBytes());
                //createdUser.Image = photo.GetBytes();
            }
            else
            {
                var createdUser = Provaiders.userLogic.CreateUser(userName, dateOfBith);

            }

            Response.Redirect("~/MyPages/ShowAllUsers.cshtml");

        }
        else if(dateOfBith > DateTime.Now)
        {
            flag = true;
            ErrorMessege = "You could not come from the future";
        }
        else
        {
            flag = true;
            ErrorMessege = "Wrong type of DATA. PLZ write like in this patern: dd.mm.yyyy";
        }
        Response.Redirect("~/MyPages/ShowAllUsers.cshtml");
    }
}

<p>
    @ErrorMessege
</p>
@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form action="~/MyPages/AddNewUser.cshtml" method="post" enctype="multipart/form-data" class="md-form">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" name="UserName" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Date of Birth" name="DateOB" required>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01" name="LoadingImage">
                            <label class="custom-file-label" for="inputGroupFile01">Choose image for new User</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    @{
        if(flag == true)
        {
            <div class="alert alert-danger">@ErrorMessege</div>
        }
     }
    <a class="nav-link active" href="~/Index.cshtml">Main Menu</a>
</body>
</html>*@
