body{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 300px;
}
.container{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 25%;
    bottom: 0;
    right: 0;
    display: flex;
}
.steps{
    width: 170px;
    height: 50px;
    margin: 0px;
    background: linear-gradient(to top, #e4e3e3, #b6b6b3 50%, #e4e3e3 100%);
    display: inline-block;
    padding: 0;
    line-height: 70px;
    vertical-align: middle;
    position: relative;
    text-align: center;
    left: 170px;
}
.steps::after {
    height: 40px;
    width: 40px;
    content: "";
    border-bottom: 11px solid white;
    border-right: 11px solid white;
    box-sizing: border-box;
    right: -12px;
    bottom: 7px;
    position: absolute;
    transform: rotate(-60deg) skew(-30deg);
    z-index: 3;
}
span{
    position: relative;
    top: -10px;
    /* padding-left: 15px; */
    font-size: 23px;
    font-family: sans-serif;
}
.container .steps:last-child::after{
    border:none;
}
.steps:hover{
    background: linear-gradient(to top, #9bed8a, #2abe0c 50%, #9bed8a 100%);
    color: white;
}
