@using UserAwardsApp.Entities;
@using UserAwardsApp.BLL.Abstract;
@using UserAwardsApp.DI.Provaiders;
@using System.Threading;
@using UserAwardsApp.PL.UIWebPages.HelpersBLL;

@{
    Layout = null;

    if (IsPost)
    {
        var awardName = Request["AwardName"];

        if (!string.IsNullOrWhiteSpace(awardName))
        {
            var createAward = Provaiders.awardsLogic.AddAward(awardName);

            WebImage photo = WebImage.GetImageFromRequest();

                if (photo != null)
                {
                    createAward.Image = photo.GetBytes();
                }

            Response.Redirect("~/MyPages/ShowAllAwards.cshtml");
        }
        else
        {
            <p>
                User not created!
            </p>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form action="~/MyPages/AddNewAward.cshtml" method="post" enctype="multipart/form-data" class="md-form">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="New Award Name" name="AwardName">
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01" name="LoadingImage">
                            <label class="custom-file-label" for="inputGroupFile01">Choose image for new Award</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <a class="nav-link active" href="~/Index.cshtml">Main Menu</a>
</body>
</html>