@using UserAwardsApp.Entities;
@using UserAwardsApp.BLL.Abstract;
@using UserAwardsApp.DI.Provaiders;
@using System.Threading;
@using UserAwardsApp.PL.UIWebPages.HelpersBLL;

@{
    Layout = null;

    if (IsPost)
    {
        
        //IUserLogic UserManager = MyProvaider.userLogic;

        var userName = Request["UserName"];
        var userDoB = Request["DateOB"];

        bool BDateChecked = DateTime.TryParse(userDoB, out DateTime dateOfBith);

        if (!string.IsNullOrWhiteSpace(userName) && !string.IsNullOrWhiteSpace(userDoB) && BDateChecked)
        {
            Provaiders.userLogic.CreateUser(userName, dateOfBith);
            //UserManager.CreateUser(userName, dateOfBith);
            //Provaiders.userLogic.SerializerJsonUsers();
            <p>
                User @userName created!
            </p>
            Thread.Sleep(1000);
            Response.Redirect("~/MyPages/ShowAllUsers.cshtml");
        }
        else
        {
            <p>
                User not created!
            </p>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form action="~/MyPages/AddNewUser.cshtml" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" name="UserName">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Date of Birth" name="DateOB">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
