@using UserAwardsApp.Entities;
@using UserAwardsApp.BLL.Abstract;
@using UserAwardsApp.DI.Provaiders;
@using System.Threading;
@using UserAwardsApp.PL.UIWebPages.HelpersBLL;

@{
    Layout = null;

    if (IsPost)
    {
        var awardName = Request["AwardName"];

        if (!string.IsNullOrWhiteSpace(awardName))
        {
            Provaiders.awardsLogic.AddAward(awardName);
            //UserManager.CreateUser(userName, dateOfBith);
            //Provaiders.userLogic.SerializerJsonUsers();
            <p>
                Award @awardName created!
            </p>
            Response.Redirect("~/MyPages/ShowAllAwards.cshtml");
        }
        else
        {
            <p>
                User not created!
            </p>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form action="~/MyPages/AddNewAward.cshtml" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="New Award Name" name="AwardName">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <a class="nav-link active" href="~/Index.cshtml">Main Menu</a>
</body>
</html>