USE [master]
GO
/****** Object:  Database [Users and Awards]    Script Date: 24.09.2019 5:40:41 ******/
CREATE DATABASE [Users and Awards]
 CONTAINMENT = NONE

ALTER DATABASE [Users and Awards] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Users and Awards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Users and Awards]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 24.09.2019 5:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [uniqueidentifier] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 24.09.2019 5:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAwards]    Script Date: 24.09.2019 5:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAwards](
	[ID_Users] [uniqueidentifier] NOT NULL,
	[ID_Awards] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserAwards] PRIMARY KEY CLUSTERED 
(
	[ID_Users] ASC,
	[ID_Awards] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.09.2019 5:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([ID], [Login], [Password], [Role]) VALUES (N'3862d5aa-2e4c-4a35-bd2a-aa70a720b6fa', N'Admin', N'ACcanO9keaJuooas/fFpuyJ44W6O1R87frSPUVlu846044x7yxQHH+zdl/8E3cTfYA==', N'Admin')
INSERT [dbo].[Accounts] ([ID], [Login], [Password], [Role]) VALUES (N'0fc46ede-aa0a-4c29-99ef-a836fea0557b', N'Petya', N'AGDEPuofikmC4A2dnKU90+ctISpNVEfHCqNInPdlYl6/LeKoXarr2AVO0mr5YVLNOw==', N'Admin')
INSERT [dbo].[Awards] ([ID], [Name], [Image]) VALUES (N'f4c32fea-3055-4525-9141-ba37f5ad7f85', N'Powerfull', NULL)
INSERT [dbo].[UserAwards] ([ID_Users], [ID_Awards]) VALUES (N'd979000a-5511-4504-a740-2869e84e54a9', N'a9dfb492-9035-491f-81d5-93cc74b82f78')
INSERT [dbo].[Users] ([ID], [Name], [DateOfBirth], [Image]) VALUES (N'29cb8da0-032f-4083-806a-758920c4df8c', N'Peter Pen', CAST(N'1978-08-05' AS Date), NULL)
INSERT [dbo].[Users] ([ID], [Name], [DateOfBirth], [Image]) VALUES (N'f893d92e-84d3-4edf-9bcf-7a4f2cbd5c09', N'Spiderman', CAST(N'1963-03-16' AS Date), NULL)
ALTER TABLE [dbo].[UserAwards]  WITH CHECK ADD  CONSTRAINT [FK_UserAwards_Awards] FOREIGN KEY([ID_Awards])
REFERENCES [dbo].[Awards] ([ID])
GO
ALTER TABLE [dbo].[UserAwards] CHECK CONSTRAINT [FK_UserAwards_Awards]
GO
ALTER TABLE [dbo].[UserAwards]  WITH CHECK ADD  CONSTRAINT [FK_UserAwards_Users] FOREIGN KEY([ID_Users])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserAwards] CHECK CONSTRAINT [FK_UserAwards_Users]
GO
USE [master]
GO
