ul{
    list-style: none;
    padding: 10px;
    margin: initial;
    text-align: initial;
    font-size: 120%;
    font-weight: bold;
}

div{
    width: 200px;
    height: 210px;
}
div#center{
    width: 200px;
    margin: 10px auto;
    border: 5px outset #96A537;
    background-color: #C0CF67;
}
li{
    font-family: 'Bangers', cursive, 'Times New Roman';
    font: 20.5px;
    font-style: italic;
    line-height: 1.7;
}
.li-pading{
    line-height: 1;
    font: 20.5px
}
element.style {
    height: 190px;
}

body{
    background-image: url(forMenu.jpg);
    background-size: cover;
}